.icon-row {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 30px;
  flex-wrap: wrap;
}

.icon-row__icon {
  display: flex;
  flex-direction: column;
  width: 24%;
  align-items: center;
  color: var(--gray);
}

.icon-row__icon span {
  text-align: center;
  margin-top: 28px;
}
